@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');
/* Daniela gamez */


:root {
    --accent: #51459e;
    --fondo: #f2f7ff;
    --accent2: #c5d3f9;
    --accent3: #cf919182;
    --accent4: #f2cc5b;
}

/* ⭐ Css compartido entre las diferentes paginas */

/* contenedor principal de todas las paginas */
.container {
    min-width: 100%;
    height: 100vh;
    background-color: var(--fondo);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'menu content';
}

/* menu de navegacion */

/* contenedor grid del nav */

.nav-grid {
    grid-area: menu;
    min-height: 100vh;
    background-color: var(--accent2);
    display: flex;
}

/* menu de elementos con posicion fija dentro del nav) */

.menu {
    /* posicion que baja con la vista */
    position: sticky;
    top: 0;
    max-height: 100vh;
    font-size: 1.875rem;
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*links a las paginas */
.menu__item {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 0.8rem;
    background-color: #fdfdfd;
    width: fit-content;
    line-height: 0.8rem;
}

.button--logout {
    all: unset;
}

.menu__item:hover {
    background-color: var(--accent);
    color: white;
    border-radius: 12px;
}


.menu__item:hover i {
    color: white;
}

.link--active{
    background-color: var(--accent);
    color: white; 
    border-radius: 12px;
}

.link--active i {
    color: white;
}

.fi--active {
    background-color: var(--accent);
}

/* contenido principal */
.content {
    padding: 2rem;
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(#d6d6d6 15%, transparent 16%), repeating-linear-gradient(0deg, transparent 6.5%, var(--fondo) 7%, var(--fondo) 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #d6d6d6 49%, #d6d6d6 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #d6d6d6 49%, #d6d6d6 51%, transparent 51%);
    background-size: 10em 10em;
    background-color: var(--fondo);
    opacity: 1
}

.content--settings{
    padding: unset;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.content__title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1rem;
    color: var(--fondo);
    background-color: var(--accent);
    border-radius: 10px;
    padding: 0rem 3rem;
    text-align: center;

}

.settings__element-title,.profile__label{
    font-size: 1.2rem;
    width: fit-content;
    margin-bottom: unset;
    border-radius: 2px;
    background-color: unset;
    color: unset;
    padding: unset;
}
.settings__element-title i,.profile__label i{
    vertical-align: middle;
    color: var(--accent);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.recover {
    font-size: 14px;
    color: var(--accent);
    cursor: pointer;
    text-decoration: underline;
}

.desactivado {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.content__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* modificador de filas */
.content__body--row {
    display: flex;
    gap: 1rem;
}

.content__body--40W {
    min-width: 30%;
}

.content__body--bento{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    'profile customize'
    'profile change-password'
    'profile delete-account'
    ;
    gap: 1rem;
}

.change-password{
    grid-area: change-password;
    display: grid;
    place-content: center;
    gap: 10%;
}

.profile{
    grid-area: profile;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
}

.bio{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 50%;
}

.delete-account{
    grid-area: delete-account;
    display: grid;
    place-content: center;
    gap: 10%;
}
.customize{
    grid-area: customize;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 10%;
}

.customize__title{
    text-align: center;
    justify-self: center;
}


.customize__buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: max-content; */
    gap: 0.5rem;
}

.text__align--center{
    text-align: center;
}

.banner{
    border: 2px solid #000;
    border-radius: 5px;
    min-height: 20vh;
    min-width: 85%;
    position: relative;
    background-color: var(--accent2);
    background-image: url(https://fastly.picsum.photos/id/423/1024/119.jpg?hmac=71fYDms-cF0sDnYqVj21xpM-WRS4rcImKdvrmXWCQg4);
    background-size: cover;
    background-position: center;
}



.settings__element{
    /* background-color: #c5e78e; */
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 2px 2px 0 #000;
    font-family: "Arial", sans-serif;
}

.banner::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    border: 3.5px solid #000;
    position: absolute;
    bottom: -5vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: gray;
    background-image: url(https://imgs.search.brave.com/3o4w3E8jt9sXYUaFRYfKGOlPeSKnn5oFIGYYiEMVN2w/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTg3/MTMyOTczNS9waG90/by9jYXRzLW5vc2Uu/d2VicD9hPTEmYj0x/JnM9NjEyeDYxMiZ3/PTAmaz0yMCZjPTJ1/UDd2XzNhaWEza09I/WEdBbDk0SVJEZkZp/TnU4akdrcHhiYkNU/cm0xZEE9);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.banner__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

.profile__info{
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    gap: 1rem;
}

.profile__info-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}


.profile__input, .profile__textarea{
    border-radius: 5px;
    border: 1.5px solid #000;
    /* background-color: var(--accent2); */
    /* box-shadow: 4px 4px 0 #000; */
    font-size: 15px;
    padding: 10px 10px;
    outline: none;
}

.profile__textarea{
    resize: none;
    height: 100%;
}



.cursor--pointer {
    cursor: pointer;
}

.content__body--40W .form-info--error {
    text-align: center;
}

/* articulo */

.article {
    border: 4px solid #000;
    border-radius: 10px;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 10px 10px 0 #000;
    font-family: "Arial", sans-serif;
    position: relative;
}

.article__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #000;
    padding-bottom: 1rem;
}

.article__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    max-width: 100%;
}

.article__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 0.5rem;
}

.article__title {
    font-weight: 900;
    color: #000;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
}

.article__body {
    margin-top: 1em;
    color: #000;
    font-size: 0.9rem;
    line-height: 1.4;
    padding-bottom: 2rem;
}

/* call to action */
.cta {
    min-height: 50vh;
    min-width: min-content;
    max-width: 40%;
    align-self: center;

}

/* estilos globales de formularios */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__label {
    font-size: 1.2rem;
    font-weight: 700;
}

.form__textarea {
    resize: vertical;
    min-height: 10rem;
    min-width: 25vw;
    padding: 0.5rem;
}

.form__input {
    padding: 0.5rem;
    flex-grow: 1;
}
.input__group--pass {
    display: flex;
    gap: 0.5rem;
    position: relative;
}
.input__group--pass i{
    vertical-align: middle;
    align-self: center;
    font-size: 1.5rem;
    line-height: 0rem;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
}


.form__button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid #000;
    background-color: #fff;
    color: #000;
    position: relative;
    transition: all 0.2s ease;
    box-shadow: 5px 5px 0 #000;
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 1rem;
    cursor: pointer;
}

.form__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.3),
            transparent);
    transition: all 0.6s;
}

.form__button:hover::before {
    left: 100%;
}

.form__button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 7px 7px 0 #000;
}

.form__button:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}

.form__button--mark:hover {
    background-color: var(--accent);
    border-color: #54349f;
    color: #fff;
    box-shadow: 7px 7px 0 #290080;
}

.banner__button {
    margin-bottom: unset;
    font-size: 0.65rem;
    border: 2px solid #000;
    padding: 0.75rem 1.5rem;
    width: auto;
    border-radius: 50px;
    box-shadow: 2px 2px 0 black;
    background-color: var(--accent2); ;
}
.banner__button--red{
    background-color: var(--accent3);
}

.banner__button i{
    font-size: 1.2em;
    vertical-align: bottom;
    line-height: 0;
}

/* separador de area del formulario */

.form__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* area de mensajes del formulario */
.form-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    border: 1px solid #737373;
    border-radius: 0.5rem;
    padding: 1.5rem;
    position: relative;
    text-align: left;

}

/* icono del area de mensajes */
.form-info::after {
    content: '';
    font-size: 2rem;
    z-index: 2;
    position: absolute;
    top: -1.4rem;
    right: -1rem;
}

.form-info--error::after {
    content: '⚠️';
}

.form-info--success::after {
    content: '✅';
}

.form-info--warning::after {
    content: 'ℹ';
    background-color: rgb(181, 181, 181);
    padding: 0.1rem 0.9rem;
    border-radius: 10px;
    right: -1rem;
    top: -0.7rem;
}

/* resaltado del campo en el area de mensajes */
.campo {
    display: inline-block;
    background-color: #cf919182;
    color: #100f0f;
    padding: 3px 5px;
    border-radius: 3px;
    font-family: monospace;
    font-size: 16px;
}

/* colores de mensaje */
.form-info--error {
    background-color: rgba(212, 22, 22, 0.109);
}

.form-info--warning {
    background-color: rgba(95, 95, 95, 0.109);
}

.form-info--success {
    background-color: rgba(22, 212, 22, 0.109);
}

/* barra de busqueda */
.busqueda__barra {
    border-radius: 0.5rem;
    border: 2px solid #737373;
    padding: 0.5rem;

}

/* boton de lupa */
.form__button--search {
    width: auto;
    padding: 0.5em;
    border-radius: 0.5rem;
    border: 1px solid #737373;
}

.busqueda__input {
    padding: 0.5rem;
    border: 1px solid #737373;
    border-radius: 0.5rem;
    width: 100%;
}

.busqueda__input--page {
    padding: 0.5rem;
    border: 1px solid #737373;
    all: unset;
    border: 1px solid #737373;
    border-radius: 0.5rem;
    width: 3rem;
    text-align: center;
}

.cabeceras {
    display: flex;
    gap: 1rem;
}

/* sin media query */
.cabeceras--paginacion {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.paginacion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.num--pages {
    padding: 0.2rem 0.5rem;
    background-color: var(--accent2);
}

.num--pages:active,
.num--pages:visited,
.num--pages:focus {
    color: rgb(85, 26, 139);
}

.page--active.num--pages {
    background-color: var(--accent);
    color: #fff;
}

.button--page {
    background-color: rgb(211, 210, 210);
    padding: 0.2rem 0.1rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.button--page--right {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.busqueda {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}


.busqueda__resultados {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Por defecto, 1 columna */
    gap: 1rem;
    align-items: stretch;
    width: 80%;
}

.busqueda__resultados:has(> :nth-child(2)) {
    grid-template-columns: repeat(2, 1fr);
    /* Si tiene más de 1 hijo, 2 columnas */
    width: 100%;
}

.busqueda__resultados .article {
    cursor: pointer;
}

.icon {
    line-height: 0rem;
    padding-right: 0.2rem;
}

.span2c {
    grid-column: span 2;
    pointer-events: none;
}

@media (max-width: 765px) {

    .busqueda__resultados,
    .busqueda__resultados:has(> :nth-child(2)) {
        grid-template-columns: repeat(1, 1fr);
        /* Siempre 1 columna en pantallas pequeñas */
    }

    .menu {
        font-size: 1rem;
    }

    .content__title {
        text-align: center;
        font-size: 1.5rem;
    }

    .cabeceras {
        flex-direction: column;
    }

    .busqueda__resultados {
        width: 100%;
    }

    .banner {
        width: 100%;
    }
    .content__body--bento{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
        'customize'
        'profile' 
        'change-password'
        'delete-account'
        ;
    }
    .customize__buttons{
        display: flex;
        flex-direction: column;
        width: max-content;
        gap: 0.5rem;
    }
    .banner__button{
        width: fit-content;
        height: fit-content;
        align-self: center;
        justify-self: center;
    }
}

img {
    display: block;
    max-width: 100%;
}

.reading__body {
    border: 4px solid #000;
    border-radius: 30px;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 10px 10px 0 #000;
    min-height: 70%;
    width: 90%;
    font-family: "Arial", sans-serif;
}

.ordenacion__label {
    /* font-size: 1.5rem; */
    border: 0.5px solid #000;
    padding: 0.4rem 0.4rem;
    border-radius: 5px;
    line-height: 0rem;
    background-color: var(--fondo);
}

.ordenacion__input {
    display: none;
}

.ordenacion__input:checked+.ordenacion__label {
    background-color: var(--accent);
}

.ordenacion__input:checked+.ordenacion__label i {
    color: #fff;
}

.disabled {
    pointer-events: none;
    cursor: none;
}

.checkbox-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
}

.checkbox-wrapper .label {
    cursor: pointer;
}

.checkbox-wrapper .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
}

.checkbox-wrapper .label svg {
    vertical-align: middle;
}

.checkbox-wrapper .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s stroke-dashoffset;
    opacity: 0;
}


.checkbox-wrapper .check:checked+label svg g path {
    stroke-dashoffset: 0;
    opacity: 1;
}

.profile-info{
    flex-grow: 1;
    padding: 1rem;
}

.dialog{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: unset;
    border:  unset;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.dialog[open]{
    display: flex;
}
.dialog__content{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    min-width: min-content;
}
.dialog__close{
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5rem 0.6rem;
    max-width: fit-content;
    align-self: flex-end;
}