* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    color: black;
    line-height: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    /* Elimina flechas de Firefox */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    /* Hace que las flechas en Chrome siempre sean visibles */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: block;
    /* Fuerza su visibilidad en Chrome */
}